:root {
  --studio-color: #2196f3;
  --second-studio-color: #212121;
  --third-studio-color: #757575;
  --main-background-color: #ffffff;
  --first-logo-color: #ffffff;
  --second-logo-color: #000000;
  --main-heading-color: #ffffff;
  --active-text-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --animation-speed: 250ms;
  --animation-cubic: var(--animation-speed) cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --box-shadow-third: rgba(0, 0, 0, 0.12);
  --box-shadow-second: rgba(0, 0, 0, 0.2);
  --box-shadow-first: rgba(0, 0, 0, 0.14);
  --box-shadow-fourth: rgba(0, 0, 0, 0.1);
  --box-shadow-fifth: rgba(0, 0, 0, 0.08);
  --inactive-icon-color: #afb1b8;
  --border-input-color: rgba(33, 33, 33, 0.2);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section:nth-child(0n + 3) {
  padding-top: 0;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--studio-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style-type: none;
  text-decoration: none;
  color: var(--second-studio-color);
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  transition: color var(--animation-cubic);
}

.link:hover,
.link:focus {
  color: var(--studio-color);
}

/* HEADER */

.header {
  border: 1px solid var(--border-color);
  height: 80px;
}

.header__logo {
  margin-right: 93px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.logo--black {
  color: var(--second-logo-color);
}

.container--space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.header-contacts {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-list__link--current {
  color: var(--studio-color);
  position: relative;
}

.nav-list__link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--studio-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav-list__item {
  margin-right: 50px;
}

.nav-list__item:last-child {
  margin-right: 0px;
}

.header-contacts__item {
  margin-left: 50px;
}

.header-contacts__item:first-child {
  margin-left: 0px;
}

.header-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-studio-color);
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--animation-cubic);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--studio-color);
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* HERO */

.first-heading {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-heading-color);
  width: 696px;
  min-height: 120px;
  margin: 0px auto 30px auto;
}

.main-btn {
  background-color: var(--studio-color);
  font-family: Roboto;
  box-shadow: 0px 4px 4px var(--shadow-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--active-text-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200;
  height: 50;
  transition: background-color var(--animation-cubic);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

.hero-section {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--third-background-color);
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* PRECULIARITIES */

.peculiarities-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-studio-color);
  margin-bottom: 10px;
  height: 16px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  height: 75px;
}

.peculiarities-container {
  margin-right: 30px;
  width: 270px;
}

.peculiarities-icon-container {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.peculiarities-container:last-child {
  margin-right: 0;
}

.peculiarities-list {
  list-style-type: none;
  display: flex;
}

/* OUR WORCKS */

.our-worcks-main-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-studio-color);
  margin-bottom: 50px;
}

.our-worcks-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.our-worcks-container {
  margin-right: 30px;
  position: relative;
}

.our-worcks-container:last-child {
  margin-right: 0px;
}

.our-worcks-bg {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

.our-worcks-heading {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-heading-color);
}

/* OUR TEAM */
.team-section {
  background-color: var(--second-background-color);
}

.our-team-heading,
.clients-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-studio-color);
  margin-bottom: 50px;
}

.our-team-list {
  list-style-type: none;
  display: flex;
  text-align: center;
}

.team-member-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-studio-color);
  margin-bottom: 10px;
}

.team-member-text {
  padding: 30px 32px;
}

.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--inactive-icon-color);
  transition: color var(--animation-cubic), background-color var(--animation-cubic);
}

.team-social-item:nth-child(-n + 3) {
  margin-right: 10px;
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--studio-color);
  color: var(--main-background-color);
}

.team-member-cart {
  background-color: var(--main-background-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px var(--box-shadow-third), 0px 1px 1px var(--box-shadow-first),
    0px 2px 1px var(--box-shadow-second);
  border-radius: 0px 0px 4px 4px;
}

.team-member-cart:last-child {
  margin-right: 0px;
}

.clients-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--inactive-icon-color);
  color: var(--inactive-icon-color);
  cursor: pointer;
  transition: border var(--animation-cubic), color var(--animation-cubic);
}

.clients-item:nth-child(-n + 5) {
  margin-right: 30px;
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--studio-color);
  border: 1px solid var(--studio-color);
}

/* FOOTER */
.footer__logo {
  display: flex;
  margin-bottom: 20px;
}

.logo--white {
  color: var(--first-logo-color);
}

.studio-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
  margin-bottom: 10px;
}

.footer-contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  text-decoration: none;
  transition: color var(--animation-cubic);
}

.footer-contacts {
  margin-bottom: 8px;
}

.footer-contacts:last-child {
  margin-bottom: 0;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--studio-color);
}

.footer {
  background-color: var(--third-background-color);
  padding: 60px 0 60px 0;
}

.footer-list {
  list-style-type: none;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.adress-container {
  margin-right: 70px;
}

.footer-social-heading {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-heading-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff1a;
  transition: background-color var(--animation-cubic);
}

.footer-social-item:nth-child(-n + 3) {
  margin-right: 10px;
}

.footer-social-icon {
  fill: var(--main-background-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--studio-color);
}

.mailing-container {
  width: 570px;
  height: 86px;
  margin: 0 0 0 auto;
}

.mailing-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-heading-color);
  margin-bottom: 20px;
}

.mailing-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-heading-color);
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  background-color: var(--third-background-color);
  margin-right: 12px;
}

.email-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.submit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--studio-color);
  font-family: Roboto;
  box-shadow: 0px 4px 4px var(--shadow-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--active-text-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
}

/* PORTFOLIO */

.portfolio-button-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  background-color: var(--second-background-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-studio-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  min-width: 73px;
  box-shadow: none;
  transition: color var(--animation-cubic), background-color var(--animation-cubic),
    box-shadow var(--animation-cubic);
}

.portfolio-filter {
  margin-right: 8px;
}

.portfolio-filter:last-child {
  margin-right: 0px;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  color: var(--active-text-color);
  background-color: var(--studio-color);
  box-shadow: 0px 3px 1px var(--box-shadow-fourth), 0px 1px 2px var(--box-shadow-fifth),
    0px 2px 2px var(--box-shadow-third);
}
.portfolio-button.current {
  color: var(--active-text-color);
  background: var(--studio-color);
  box-shadow: 0px 3px 1px var(--box-shadow-fourth), 0px 1px 2px var(--box-shadow-fifth),
    0px 2px 2px var(--box-shadow-third);
}

/* PORTFOLIO-PROJECT */
.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-cart-bottom {
  border: 1px solid var(--portfolio-border-color);
  border-top: 0;
  padding: 20px 24px;
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-studio-color);
  margin-bottom: 4px;
}

.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-studio-color);
}

.project-link {
  text-decoration: none;
  cursor: pointer;
  display: block;
  box-shadow: none;
  transition: box-shadow var(--animation-cubic);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px var(--box-shadow-third), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-cart-top {
  position: relative;
  overflow: hidden;
}

.project-cart-text {
  position: absolute;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-heading-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform var(--animation-cubic);
}

.project-link:hover .project-cart-text,
.project-link:focus .project-cart-text {
  transform: translateY(0);
}

/* MODAL */

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--animation-cubic), visibility var(--animation-cubic);
}

.backdrop.is-hidden .modal {
  transform: scale(2) rotate(180deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-background-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px var(--box-shadow-third), 0px 1px 1px var(--box-shadow-first),
    0px 2px 1px var(--box-shadow-second);
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform var(--animation-cubic);
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  border: 1px solid var(--box-shadow-fourth);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill var(--animation-cubic), box-shadow var(--animation-cubic);
}

.modal-close:hover,
.modal-close:focus {
  box-shadow: 0px 2px 1px 0px var(--box-shadow-second), 0px 1px 1px 0px var(--box-shadow-first),
    0px 1px 3px 0px var(--box-shadow-third);
  fill: var(--studio-color);
}

.modal-close:active {
  box-shadow: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-studio-color);
  margin-bottom: 12px;
}

.modal-lable {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--third-studio-color);
  margin-bottom: 4px;
}

.modal-input-container {
  position: relative;
  margin-bottom: 10px;
  height: 40px;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--second-studio-color);
  transform: translateY(-50%);
  transition: fill var(--animation-cubic);
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--border-input-color);
  background-color: transparent;
  padding: 12px 12px 12px 42px;
  transition: border-color var(--animation-cubic);
}

.modal-input:focus {
  border-color: var(--studio-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--studio-color);
}

.modal-textarea {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--second-logo-color);
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
  outline: none;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color var(--animation-cubic);
}

.modal-textarea:focus {
  border: 1px solid var(--studio-color);
}

.modal-textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-field {
  display: flex;
  width: 100%;
  height: 24px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.label-check-text {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-studio-color);
  align-items: center;
}

.label-check-text::before {
  content: '';
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-studio-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color var(--animation-cubic);
  cursor: pointer;
}

.label-check-text:hover::before {
  border: 2px solid var(--studio-color);
}

.modal-check:checked + .label-check-text::before {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.form-field-link {
  color: var(--studio-color);
  text-decoration-skip-ink: none;
}
